<%- include('partials/header'); -%>

<header>
  <div class="world">
    <img src="/varun-world.png" alt="">
  </div>
  <div class="headings">
    <h2>Varun's World</h2>
    <h3>By Varun</h3>
    <a href="/world" class="btn">Enter the world</a>
  </div>
</header>


<%- include('partials/footer'); -%>