<%- include('partials/header'); -%>

<ul class="worlds">
  <li class="world">
    <img src="/varun-world.png" alt="Varun's world logo">
    <h4>Hello!</h4>
    <p>You have successfully logged into absolutely nothing.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>